<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.schoollab.mapper.TutorialMapper">
    <select id="getAll"  resultMap="result" parameterType="map">
        SELECT
            t.id,
            t.title,
            t.description,
            t.create_by as createBy,
            u.first_name + ' ' + u.last_name as createByFullname,
            t.campus_id as campusId,
            t.create_at as createAt,
            t.update_at as updateAt,
            t.attachment_url as attachmentUrl
        FROM tutorials t LEFT JOIN users u on t.create_by = u.id
        WHERE t.campus_id = #{campus_id}
        <if test="create_by != null">
            AND (t.create_by LIKE CONCAT('%', #{create_by}, '%') OR u.first_name +' '+ u.last_name LIKE CONCAT('%', #{create_by}, '%'))
        </if>
        <if test="title != null">
            AND t.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="create_at_from != null">
            AND #{create_at_from} <![CDATA[<=]]> CASE
            WHEN t.update_at IS NULL THEN t.create_at
            ELSE t.update_at
            END
        </if>
        <if test="create_at_to != null">
            AND #{create_at_to} <![CDATA[>=]]> CASE
            WHEN t.update_at IS NULL THEN t.create_at
            ELSE t.update_at
            END
        </if>
        ORDER BY CASE
        WHEN t.update_at IS NULL THEN t.create_at
        ELSE t.update_at
        END DESC
        OFFSET (#{page} - 1) * #{row_number} ROWS FETCH NEXT #{row_number} ROWS ONLY
    </select>

    <select id="countAll"  resultType="java.lang.Integer" parameterType="map">
        SELECT COUNT(t.id)
        FROM tutorials t LEFT JOIN users u on t.create_by = u.id
        WHERE t.campus_id = #{campus_id}
        <if test="create_by != null">
            AND (t.create_by LIKE CONCAT('%', #{create_by}, '%') OR u.first_name +' '+ u.last_name LIKE CONCAT('%', #{create_by}, '%'))
        </if>
        <if test="title != null">
            AND t.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="create_at_from != null">
            AND #{create_at_from} <![CDATA[<=]]> CASE
            WHEN t.update_at IS NULL THEN t.create_at
            ELSE t.update_at
            END
        </if>
        <if test="create_at_to != null">
            AND #{create_at_to} <![CDATA[>=]]> CASE
            WHEN t.update_at IS NULL THEN t.create_at
            ELSE t.update_at
            END
        </if>
    </select>

    <resultMap id="result" type="com.schoollab.dto.TutorialDto" autoMapping="true">
    </resultMap>
</mapper>